@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

*::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, Opera */
}


.jost-regular {
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
  padding: 0;
  margin: 0;
  background: #000;
  font-family: 'Montserrat', sans-serif;
}

.borderGradient {
  border-image: linear-gradient(to right, #3acfd5 0%, #3a4ed5 100%) 1;
  border-radius: 30px;
  border-width: 4px;
  border-style: solid;
  padding: 5px;
}